{
	"root": true,
	"extends": "airbnb-base",
	"env": {
		"node": true
	},
	"rules": {
		"one-var-declaration-per-line": 0,
    "import/newline-after-import": ["error", { "count": 1 }],
    "import/no-extraneous-dependencies": 0,
		"valid-jsdoc": [
			"error",
			{
				"requireReturn": true,
				"requireReturnType": true,
				"requireParamDescription": false,
				"requireReturnDescription": true
			}
		],
		"require-jsdoc": [
			"error",
			{
				"require": {
					"FunctionDeclaration": true,
					"MethodDefinition": true,
					"ClassDeclaration": true
				}
			}
		]
	}
}
